@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Raleway:wght@400;500&display=swap');

.logo {
  font: 500 4rem/1.2 'Chakra Petch', sans-serif;
}

.titulo {
  font: 500 4rem/1.2 'Raleway', sans-serif;
}

.corpo-texto {
  font: 400 2rem/1.2 'Raleway', sans-serif;
}