* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font: sans-serif;
}

body {
  background: var(--bg);
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 75rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

