* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(0.25turn, var(--bg-p), var(--bg-s), var(--bg-t));
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 75rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.vertical-align {
  vertical-align: middle;
  display: table-cell;
}

