.header,
.logo,
.menu {
  display: flex;
}

.header {
  height: 6rem;
  background: var(--bg-hf);
  justify-content: space-around;
  align-items: center;
}

.logo {
  align-items: center;
  gap: 20px;
}

.menu {
  gap: 60px;
}

.menu a {
  padding: 0.5rem 1rem;
}

.logo > img {
  width: 3.125rem;
}